<?php
$twitteruser = "{{getv "/homepage/twitter/user"}}";
$consumerkey = "{{getv "/homepage/twitter/consumerkey"}}";
$consumersecret = "{{getv "/homepage/twitter/consumersecret"}}";
$accesstoken = "{{getv "/homepage/twitter/accesstoken"}}";
$accesstokensecret = "{{getv "/homepage/twitter/accesstokensecret"}}";
$file = "{{getv "/homepage/twitter/cachefile"}}";

?>
